  .toolbar-round {
    padding: 10px;
    border-radius: 20px;
  }

  .select-md {
    width: 100%;
    max-width: 100%;
    float: right;
    border: 1px solid #eee;
  }

  .searchbar-input {
    box-shadow: none !important;
    border: 1px solid #eee !important;
  }

  .filter {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h3 ion-badge {
    float: right;
  }

  .header-md::after {
    display: none;
  }

  .header-md {
    border-bottom: 1px solid #eee;
  }

  .extra-pad {
    padding: 13px;
    .note {
      font-size: 12px;
    }
  }

  .more-details {
    padding: 0px;
    height: auto;
    max-height: 18px;
    overflow: hidden;
    margin: 10px 0px;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .item:hover .more-details {
    p {
      white-space: initial;
      text-overflow: ellipsis;
    }
    max-height: 300px;
  }

  .actions-toolbar {
    .button-inner div {
      font-size: 12px;
    }
  }
