<ion-searchbar [(ngModel)]="filter.textSearch" [showCancelButton]="true" (ionInput)="search($event)" (ionCancel)="search($event)">
  </ion-searchbar>
<ion-list>
    <ion-item *ngFor="let task of output">
        <ion-avatar slot="start">
          <img [src]="task.pic">
        </ion-avatar>
        <ion-label text-wrap>
          <ion-text>
            <h3>
              {{task.name}}
              <ion-badge [color]="getPriority(task.priority)" slot="end" [innerHTML]="getStatus(task.priority)"></ion-badge>
            </h3>
          </ion-text>
          <div class="more-details">
            <p>{{task.description}}</p>
          </div>
          <ion-row class="actions-toolbar">
            <ion-col center text-center class="extra-pad">
              <ion-note>
                Created at {{task.due | date}}
              </ion-note>
            </ion-col>
            <ion-col center text-center class="extra-pad">
              <ion-note>
                Due by {{task.due | date}}
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-label>

        <ion-buttons slot="end" class="hide-md hide-sm">
          <ion-button clear color="dark" slot="icon-only" (click)="presentPopover($event)">
            <ion-icon name="md-more"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>
</ion-list>
<ion-row *ngIf="output.length == 0">
  <ion-col text-center padding>
    <p>You're all good! nothing in here.</p>
  </ion-col>
</ion-row>
