<ion-card>
    <ion-card-header *ngIf="title" text-center>
        <ion-card-subtitle>{{title | translate}}</ion-card-subtitle>
    </ion-card-header>
    <div dir="ltr" style="display: block;position: relative;" margin-bottom>
        <h4 ion-text class="count" [ngStyle]="{'color': data.datasets[0].backgroundColor[0]}" *ngIf="chartType === 'doughnut' && data.datasets.length === 1 && data.datasets[0].data.length === 1">{{data.datasets[0].data[0]}}</h4>
        <div style="display: block">
            <canvas height="180" #chart>
            </canvas>
        </div>
    </div>
</ion-card>