<ion-header override>

  <ion-toolbar>
    <ion-searchbar mode="ios" [placeholder]="'Search' | translate" slot="start" [(ngModel)]="filter.textSearch"
      [showCancelButton]="true" (ionInput)="search($event)" (ionClear)="clearSearch($event)" (ionCancel)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button small (click)="sortOptions($event)">
        <ion-icon size="small" slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
      <ion-button small [ngClass]="'move-handle hide-xs'">
        <ion-icon size="small" slot="start" name="move"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <div text-center padding [hidden]="tasks.length > 0">
          <ion-text>
            <ion-icon name="egg" [ngStyle]="{'font-size': '50px','margin-top': '150px'}" color="secondary"></ion-icon>
            <h6 padding [ngStyle]="{ 'opacity': 0.5}">{{"No Tasks." | translate}}</h6>
          </ion-text>
        </div>
        <ion-list>
          <app-task-item *ngFor="let task of tasks" [routerLink]="[viewType, task.id]" routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive" [task]="task"></app-task-item>
        </ion-list>
        <ion-infinite-scroll threshold="10px" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="'Loading more Tasks...' | translate">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>