<ion-header override>

  <ion-toolbar>
    <ion-searchbar mode="ios"  [placeholder]="'Search' | translate" slot="start" [(ngModel)]="filter.textSearch" [showCancelButton]="true"
      (ionInput)="search($event)" (ionClear)="clearSearch($event)" (ionCancel)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button small >
        <ion-icon size="small" slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
      <ion-button small [ngClass]="'move-handle hide-xs'">
        <ion-icon size="small" slot="start" name="move"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid no-padding>
      <!-- <ion-row>

        <ion-col size="4" size-lg="11" class="filter">
          <ion-select interface="popover" [interfaceOptions]="{event:popoverClick}" class="pull-right" placeholder="Sort By" [(ngModel)]="filter.sortingProp"
            (ionChange)="sortArray(filter.sortingDirection)">
            <ion-select-option [value]="{name:'name',type:'string'}">Name</ion-select-option>
            <ion-select-option [value]="{name:'due',type:'datetime'}">Due Date</ion-select-option>
            <ion-select-option [value]="{name:'created',type:'datetime'}">Created Date</ion-select-option>
            <ion-select-option [value]="{name:'priority',type:'number'}">Priority</ion-select-option>
            <ion-select-option [value]="{name:'assignee',type:'string'}">Assignee</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="2" size-lg="1">
          <ion-buttons>
            <ion-button color="dark" clear round end right icon-only (click)="setSortingDirection()">
              <ion-icon [name]="filter.sortingDirection == 1 ? 'md-arrow-down' : 'md-arrow-up'"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>-->
      <ion-row>
        <ion-col class="flex-container_" >
          <div text-center padding  [hidden]="tsks.length > 0">
            <ion-text>
              <ion-icon name="egg" [ngStyle]="{'font-size': '50px','margin-top': '150px'}" color="secondary"></ion-icon>
              <h6 padding [ngStyle]="{ 'opacity': 0.5}">{{"No Tasks." | translate}}</h6>
            </ion-text>
          </div>
          <app-task-item *ngFor="let task of tsks" [task]="task"></app-task-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<!-- 
  <gridster [options]="subOptions">
  <gridster-item ion-card [ngClass]="{'sc-ion-card-md-h sc-ion-card-md-s': true}" [item]="item" *ngFor="let item of items">
    <ion-card-header>
        Filter Name
      </ion-card-header>
  
      <ion-card-content >
  
      </ion-card-content>
  
    </gridster-item>
  </gridster>
-->
