<ion-list-header>
    <ion-label color="secondary">
        {{'Filters' | translate}}
    </ion-label>
</ion-list-header>
<ion-item (click)="presentFilter()">
    <ion-label text-wrap>
        <ion-text>
            <h3>
                {{"Filter" | translate}}
            </h3>
        </ion-text>
    </ion-label>
    <ion-buttons slot="end">
        <ion-button clear color="medium" slot="icon-only">
            <ion-icon name="funnel"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-item>
<!-- <ion-grid padding>
    <ion-row *appHasRole [appHasRole]="'user'">
        <ion-col no-padding>
            <app-select [placeholder]="'Branch'" [data]="branches" [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <app-select [placeholder]="'Depertment'" [data]="departments" [bindLabel]="'name'" [bindValue]="'id'"
                [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <app-select [placeholder]="'Beneficiary'" [data]="beneficiaries" [bindLabel]="'name'" [bindValue]="'id'"
                [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <app-select [placeholder]="'Case Type'" [data]="caseTypes" [bindLabel]="'name'" [bindValue]="'id'"
                [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
    <ion-row [hidden]>
        <ion-col no-padding>
            <app-select [placeholder]="'Case Name'" [data]="caseNames" [bindLabel]="'name'" [bindValue]="'id'"
                [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col no-padding>
            <app-select [placeholder]="'Segment Type'" [data]="segmentTypes" [bindLabel]="'name'" [bindValue]="'id'"
                [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
    <ion-row [hidden]>
        <ion-col no-padding>
            <app-select [placeholder]="'Segment Name'" [data]="segmentNames" [bindLabel]="'name'" [bindValue]="'id'"
                [hideLoaded]="true"></app-select>
        </ion-col>
    </ion-row>
</ion-grid> -->