<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="customer"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ service.resource.data.firstName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" round end-item slot="icon">
        <ion-badge color="danger" class="notifications" slot="start">11</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary" solid round end-item icon-end class="toolbar-round" routerLink="/customer/new">Add Customer
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="8" size-md="12" offset-md="0" offset-lg="2">
        <ion-card>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button clear color="dark" slot="icon-only" (click)="presentPopover($event,service.resource._id )">
                <ion-icon name="md-more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <ion-card-header>
            <ion-card-subtitle>
              <strong>Status: </strong> {{ service.resource.data.inactive ? 'Inactive' : 'Active' }}</ion-card-subtitle>
            <ion-card-title>
              {{ service.resource.data.firstName }} {{ service.resource.data.lastName }}</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label>Primary Contact Information</ion-label>
          </ion-item>

          <ion-card-content>
            <!--<ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="view" routerLinkActive="active">View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="equipment" routerLinkActive="active">Equipment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="appointment" routerLinkActive="active">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="forms" routerLinkActive="active">Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="edit" routerLinkActive="active">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="delete" routerLinkActive="active">Delete</a>
          </li>
        </ul>-->
            <router-outlet></router-outlet>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
