gridster {
  background: #fff;
}

@media(max-width:641px) {
  gridster-item {
    width: 100%;
  }
}

.grid-col {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  background: var(--ion-color-base);
  color: var(--ion-color-contrast);
  overflow: hidden;
  --ion-color-base: var(--ion-item-background, transparent);
  --ion-color-contrast: var(--ion-text-color-step-150, #262626);
  border-radius: 2px;
  width: calc(100% - 0px);
  font-family: var(--ion-font-family, inherit);
  font-size: 14px;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
  background: #fff;
  border: 1px solid #e2e2e2;
}

.grid-col.fullscreen {
  transform: translate3d(0px, 0px, 0px) !important;
  width: 100% !important;
  margin-right: 0px !important;
  position: relative !important;
}

.grid-col:hover,
.grid-col:focus-within {
  border: 1px solid #e2e2e2;
}
