<div class="flex-item">
  <ion-card class="card {{getPriority(task.priority)}}" [ngClass]="{'complete' : task.complete}" [routerLink]="['/tasks/edit/',task.id]"
    routerLinkActive="router-link-active">
    <ion-card-content>
      <h2 data-ph="Task name..">
        {{task.name}}
        <div class="photo-container mini-avatar" [ngStyle]="{'background-image': 'url(assets/img/'+task?.assignee+'.jpg)'}"></div>
      </h2>
      <div class="more-details">
        <p>{{task.description}}</p>
      </div>
      <ng-container *ngIf="!task.deleteReason">
        <ion-badge color="light" size="medium" slot="end" [hidden]="!task.created" [ngClass]="{'date-picker-badge':true }">
          <ion-icon color="dark" size="medium" name="create"></ion-icon>{{task.created | date}}
        </ion-badge>
        <ion-badge mat-raised-button (click)="myDatepicker.open()" color="light" slot="end" [ngClass]="{'date-picker-badge':true ,'due':true}">
          <ion-icon color="warning" size="medium" name="calendar"></ion-icon>{{task.due ? (task.due
          | date ): 'Due' | translate}}
        </ion-badge>
        <input [matDatepicker]="myDatepicker" [(ngModel)]="task.due" hidden>
        <mat-datepicker touchUi #myDatepicker></mat-datepicker>
        <input [matDatepicker]="follow_up" [(ngModel)]="task.follow_up" hidden>
        <mat-datepicker touchUi #follow_up></mat-datepicker>
      </ng-container>

    </ion-card-content>
    <div class="more-details task-options" *ngIf="!task.deleteReason">
      <input matInput #trigger [id]="task.id+'-assignee'" [ngStyle]="{'opacity':0,'width':0,'height':0}" [(ngModel)]="task.assignee"
        [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users" [value]="user.username">{{user.name}}</mat-option>
      </mat-autocomplete>
      <ion-button size="small" (click)="openAssignee($event)" matAutocompleteOrigin #origin="matAutocompleteOrigin"
        color="primary" [fill]="task.assignee ? 'solid' : 'clear'">
        <ion-icon name="person" slot="start"></ion-icon>
        <span [hidden]="task.assignee">{{'Claim' | translate}}</span>
        <span [hidden]="!task.assignee">{{task.assignee}}</span>
      </ion-button>
      <ion-button size="small" color="primary" fill="clear">
        <ion-icon name="people" slot="start"></ion-icon>{{'Add Group' | translate}}
      </ion-button>

      <!-- <ion-button size="small" color="success" (click)="complete()" *ngIf="task.assignee == auth.getUser()?.username"
        [ngStyle]="{'float':'right'}" fill="clear">
        <ion-icon name="checkmark" slot="start"></ion-icon>{{'Complete' | translate}}
      </ion-button> -->

    </div>
  </ion-card>
</div>