<ion-header>

  <ion-toolbar>
    <ion-title>{{'Filter' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid margin-top>
    <ion-row>
      <ion-col>
        <mat-form-field>
          <input matInput [matDatepicker]="fd" placeholder="From Date">
          <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
          <mat-datepicker #fd></mat-datepicker>
        </mat-form-field>
      </ion-col>
      <ion-col>
        <mat-form-field>
          <input matInput [matDatepicker]="td" placeholder="To Date">
          <mat-datepicker-toggle matSuffix [for]="td"></mat-datepicker-toggle>
          <mat-datepicker #td></mat-datepicker>
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item no-padding>
          <ion-label color="primary">{{'Status' | translate}}</ion-label>
          <ion-toggle value="true" color="success"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.branches" [placeholder]="'Branch'" [data]="branches"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true"></app-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.departments" [placeholder]="'Depertment'" [data]="departments"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true"></app-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.beneficiaries" [placeholder]="'Beneficiary'" [data]="beneficiaries"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true"></app-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.caseTypes" [placeholder]="'Case Type'" [data]="caseTypes"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true" (select)="onCaseTypeSelect($event)"></app-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filter.caseTypes.length">
      <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.caseNames" [placeholder]="'Case Name'" [isAsync]="true" [source$]="caseNames$"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true"></app-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.segmentTypes" [placeholder]="'Segment Type'" [data]="segmentTypes"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true" (select)="onSegmentTypeSelect($event)"></app-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filter.segmentTypes.length">
        <ion-col>
        <app-select [multiple]="true" [(ngModel)]="filter.segmentNames" [placeholder]="'Segment Name'"  [isAsync]="true" [source$]="segmentNames$"
          [bindLabel]="'name'" [bindValue]="'id'" [hideLoaded]="true"></app-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-padding>
  <ion-grid no-padding [ngStyle]="{'background': '#eaeaea'}">
    <ion-row>
      <ion-col>
        <ion-button fill="outline" expand="block" color="primary" (click)="modal.dismiss()">{{'Cancel' | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="solid" expand="block" (click)="applyFilter()" color="success">{{'Apply' | translate}}</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>