// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

:root {
  /** primary **/
  /** Ionic CSS Variables **/
  /** primary **/
  /** Ionic CSS Variables **/
  /** primary **/
  --ion-color-primary: #8aefc9;
  --ion-color-primary-rgb: 138, 239, 201;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #84adcd;
  --ion-color-primary-tint: #a1cbeb;
  /** secondary **/
  --ion-color-secondary: rgb(255, 152, 56);
  --ion-color-secondary-rgb: 255, 152, 56;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e9a668;
  --ion-color-secondary-tint: #b66c27;
  /** tertiary **/
  --ion-color-tertiary: #7d66e7;
  --ion-color-tertiary-rgb: 125, 102, 231;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6e5acb;
  --ion-color-tertiary-tint: #8a75e9;
  /** success **/
  --ion-color-success:rgba(148, 239, 66);
  --ion-color-success-rgb: 148, 239, 66;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: rgb(93, 151, 41);
  --ion-color-success-tint: rgb(157, 226, 96);
  /** warning **/
  --ion-color-warning: #eb5238;
  --ion-color-warning-rgb: 235, 82, 56;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #cf4831;
  --ion-color-warning-tint: #ed634c;
  /** danger **/
  --ion-color-danger: #f4033a;
  --ion-color-danger-rgb: 244, 3, 58;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d70333;
  --ion-color-danger-tint: #f51c4e;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  @import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
  --font-family-md-base: "Ubuntu";
  --font-family-ios-base: "Ubuntu";
  --font-family-wp-base: "Ubuntu";
  --ion-font-family: "Ubuntu" !important;
  --grid-breakpoints-xs: 0;
  --grid-breakpoints-sm: 576px;
  --grid-breakpoints-md: 768px;
  --grid-breakpoints-lg: 1140px;
  --grid-max-widths-lg: 1140px;
  @each $size,
  $size-value in --grid-breakpoints {
    .hide-#{$size} {
      @media (max-width: $size-value) {
        display: none;
      }
    }
  }
}
