// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/
html[dir="rtl"] {
  --font-family-md-base: 'Cairo', sans-serif;
  --font-family-ios-base: 'Cairo', sans-serif;
  --font-family-wp-base: 'Cairo', sans-serif;
  --ion-font-family: 'Cairo', sans-serif !important;

  body {
    text-align: right;
  }

  h3 ion-badge {
    float: left !important;
  }

  .photo-container.mini-avatar {
    float: left;
  }

  .selected-green {
    transition: 0.5s;
    border-right: 0px solid rgba(var(--ion-color-success-rgb), 1);
    border-left: 0px !important;
    border-width: 15px;
  }

  .app-bg-danger {
    border-right: 5px solid rgba(var(--ion-color-danger-rgb), 0.8) !important;
    border-left: 0px !important;
  }

  .app-bg-primary {
    border-right: 5px solid rgba(var(--ion-color-primary-rgb), 0.8) !important;
    border-left: 0px !important;
  }

  .app-bg-secondary {
    border-right: 5px solid rgba(var(--ion-color-secondary-rgb), 0.8) !important;
    border-left: 0px !important;
  }

  .app-bg-warning {
    border-right: 5px solid rgba(var(--ion-color-warning-rgb), 0.8) !important;
    border-left: 0px !important;
  }

  .formio-form {
    direction: rtl !important;
  }
  .col-sm-push-8{
    right: 66.6666666667%;
    left:auto;
  }
  .alert-radio-icon{
    right:15px;
    left: auto;
  }
   .form-check{
    padding-left:0px;
    padding-right:1.25rem;
  }
  .form-check-input {
    margin-right: -1.25rem;
    margin-left:0px;
}
}
.col-sm-push-8{
  left: 66.6666666667%;
}
:root {
  /** primary **/
  --app-direction: multi;
  --ion-color-primary: #4d668c;
  --ion-color-primary-rgb: 77, 102, 140;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #445a7b;
  --ion-color-primary-tint: #5f7598;

  /** secondary **/
  --ion-color-secondary: #e9a668;
  --ion-color-secondary-rgb: 233, 166, 104;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #cd925c;
  --ion-color-secondary-tint: #ebaf77;

  /** tertiary **/
  --ion-color-tertiary: #a436ff;
  --ion-color-tertiary-rgb: 164, 54, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #9030e0;
  --ion-color-tertiary-tint: #ad4aff;

  /** success **/
  --ion-color-success: #00c243;
  --ion-color-success-rgb: 0, 194, 67;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00ab3b;
  --ion-color-success-tint: #1ac856;


  /** warning **/
  --ion-color-warning: #ffc033;
  --ion-color-warning-rgb: 255, 192, 51;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a92d;
  --ion-color-warning-tint: #ffc647;

  /** danger **/
  --ion-color-danger: #f0201b;
  --ion-color-danger-rgb: 240, 32, 27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d31c18;
  --ion-color-danger-tint: #f23632;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  @import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
  @import url('https://fonts.googleapis.com/css?family=Cairo:400,700&subset=arabic');
  --font-family-md-base: "Ubuntu";
  --font-family-ios-base: "Ubuntu";
  --font-family-wp-base: "Ubuntu";
  --ion-font-family: "Ubuntu" !important;
  --grid-breakpoints-xs: 0;
  --grid-breakpoints-sm: 576px;
  --grid-breakpoints-md: 768px;
  --grid-breakpoints-lg: 1140px;
  --grid-max-widths-lg: 1140px;

  @each $size,
  $size-value in --grid-breakpoints {
    .hide-#{$size} {
      @media (max-width: $size-value) {
        display: none;
      }
    }
  }
}
