<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="egg" size="large" color="secondary"></ion-icon>
    </ion-buttons>
    <ion-title color="primary">SUPER APP</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button color="dark" (click)="setLanguage(translate.currentLang == 'ar' ? 'en' : 'ar')">
          {{translate.currentLang == 'ar' ? 'English' : 'Arabic' | translate}}
        </ion-button> -->
      <ion-button color="dark" (click)="languages($event)" round end-item slot="icon">
        <ion-badge color="primary" slot="start">{{translate.currentLang}}</ion-badge>
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <div [ngStyle]="{'width': '500px', 'margin':'50px auto','max-width':'100%'}">
          <router-outlet></router-outlet>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>