  ion-content{
    height:100vh;
  }
  .toolbar-round {
    padding: 0px;
    border-radius: 20px;
  }

  app-grid {
    width: 100%;
  }

  .select-md {
    width: 100%;
    max-width: 100%;
    float: right;
    border: 1px solid #eee;
  }

  .searchbar-input {
    box-shadow: none !important;
    border: 1px solid #eee !important;
    margin-top: -4px;
  }

  .filter {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h3 ion-badge {
    float: right;
  }

  .header-md::after {
    display: none;
  }

  .header-md {
    border-bottom: 1px solid #eee;
  }

  .extra-pad {
    padding: 13px;
    .note {
      font-size: 12px;
    }
  }

  ion-note {
    font-size: 12px;
    color: var(--ion-color-dark-shade);
  }

  .details-item {
    transition: 0.5s;
    box-shadow: none;
    border: 1px solid #eee;
  }

  .more-details {
    padding: 0px;
    height: auto;
    max-height: 18px;
    overflow: hidden;
    margin: 10px 0px;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .item:hover .more-details {
    p {
      white-space: initial;
      text-overflow: ellipsis;
    }
    max-height: 300px;
  }

  .actions-toolbar {
    .button-inner div {
      font-size: 12px;
    }
  }

  .inner-scroll {
    height: calc(100vh - 120px);
    max-height: 100vh;
  }

  .inner-content {
    height: calc(100vh - 120px);
    max-height: 100vh;
  }

  .forecast_container {
    overflow-x: scroll !important;
    overflow-y: hidden;
    word-wrap: break-word;
    height: auto;
    font-size: 0.8em;
    font-weight: 300;
  }

  @media (min-width: 1140px) {
    .tasks-pane {
      min-height: 100%;
      transition: 0.5s;
      width: 400px !important;
      max-width: 400px !important;
      border-right: 1px solid var(--ion-color-light-shade);
      &:last-child:not(.full-pane) {
        width: calc(100% - 400px) !important;
        max-width: calc(100% - 400px) !important;
        border-right: 0px;
        &.collapse-pane {
          max-width: 49px !important;
          min-width: auto !important;
          ion-grid {
            display: none !important;
          }
          ion-list {
            display: none !important;
          }
        }
      }
    }
    .collapse-pane {
      max-width: 49px !important;
      min-width: auto !important;
      ion-grid {
        display: none !important;
      }
      ion-list {
        display: none !important;
      }
    }
    .full-pane {
      max-width: calc(100% - 49px) !important;
      min-width: auto !important;
      ion-grid {
        display: none !important;
      }
    }
  }

  .split-pane-md.split-pane-visible>.split-pane-side.collapse-pane,
  ion-col.collapse-pane {
    transition: 0.5s;
    max-width: 49px !important;
    min-width: auto !important;
    ion-grid {
      display: none !important;
    }
  }

  ion-scroll {
    max-height: 100% !important;
  }
