<ion-header>
  <ion-toolbar  [ngClass]="''">
    <ion-buttons slot="start">
      <ion-menu-button menu="start"></ion-menu-button>
    </ion-buttons>

    <ion-title>Tasks</ion-title>


    <ion-buttons slot="end">
      <ion-button color="dark" round end-item slot="icon">
        <ion-badge color="danger" class="notifications" slot="start">11</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary" solid round end-item icon-end class="toolbar-round">Add Task
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
      <ion-menu-button menu="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-split-pane when="(min-width: 1024px)" (ionChange)="toggleHack($event)">
    <!--  our side menu  -->
    <ion-menu menu-id="start" [ngClass]="{'collapse-pane': !panesToggle.start && panesToggle.toggleHack}">

      <ion-toolbar>
        <ion-buttons slot="start" [hidden]="!panesToggle.start && panesToggle.toggleHack">
          <ion-button color="secondary" solid round end-item icon-end class="toolbar-round">Add Filter
            <ion-icon slot="start" name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="dark" clear class="toolbar-round" [hidden]="!panesToggle.toggleHack" (click)="toggleMenu('start')">
            <ion-icon [hidden]="!panesToggle.start" name="arrow-dropleft"></ion-icon>
            <ion-icon [hidden]="panesToggle.start" name="arrow-dropright"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <ion-list lines="full">
          <ion-item *ngFor="let filter of filters" [ngClass]="{'selected-green': filterStorage.isFilterOpen(filter.id)}" (click)="toggleFilter(filter.id,!filterStorage.isFilterOpen(filter.id))">
            <!-- <ion-avatar slot="start">
                    <img [src]="task.pic">
                  </ion-avatar>
                -->
            <ion-label text-wrap>
              <ion-text>
                <h3 appOnCreate (OnCreateDirective)="getFilterCount(filter)">
                  {{filter.name}}
                  <ion-badge color="secondary" slot="end">{{filter.count}}</ion-badge>
                </h3>
              </ion-text>

            </ion-label>

            <ion-buttons slot="end" class="hide-md hide-sm">
              <ion-button clear color="dark" slot="icon-only">
                <ion-icon name="md-more"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <app-grid main></app-grid>
  </ion-split-pane>

  <!--<ion-row>
      <ion-col *ngFor="let task of filtered" col-6 col-md-4 col-lg-4>
        <ion-card [ngClass]="{'danger':task.priority > 50}">
          <ion-item>
            <ion-avatar item-start>
              <img src="http://flatable.phoenixcoded.net/default/assets/images/user.png">
            </ion-avatar>
            <h2>To: {{task.assignee}}</h2>
            <p>{{task.created | date}}</p>
          </ion-item>



          <ion-card-content>
            <p>{{task.name}}</p>
          </ion-card-content>

          <ion-row hidden>
            <ion-col>
              <button ion-button icon-start clear small>
                <div>Details</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-start clear small>
                <div>Other Acion</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <ion-note>

              </ion-note>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row> -->
</ion-content>
