
@media (max-width:1550px) {
    .padding {
      padding: 20px !important;
    }
  }
  
  @media (max-width:740px) {
    .padding {
      padding: 0px !important;
    }
  }
  
  .padding {
    padding: 40px 100px 80px 100px;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%; 
    height: calc(100% - 60px);
  }
  