
   .padding {
     height:calc(100% - 56px);
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-start: 20px;
    --padding-end: 20px;
  }
  
  @media (max-width:740px) {
    .padding {
      height:calc(100%);
      --padding-top: 0px;
      --padding-bottom: 0px;
      --padding-start: 0px;
      --padding-end: 0px;
    }
    
  }
 