<app-formio #formio id="formio" [form]="service.form" [readOnly]="task.disabled" *ngIf="task" [submission]="service.resource"
  [refresh]="service.refresh" [hideComponents]="config.parents" [error]="onError" (submit)="onSubmit($event)"></app-formio>


<div text-center padding *ngIf="!task">
  <ion-text>
    <ion-icon name="egg" [ngStyle]="{'font-size': '50px','margin-top': '150px'}" color="secondary"></ion-icon>
    <h6 padding [ngStyle]="{ 'opacity': 0.5}">Please Choose a Task</h6>

  </ion-text>

</div>
<!-- 
  <formio  [form]="service.form" [readOnly]="task.disabled" *ngIf="task"
  [submission]="service.resource" [refresh]="service.refresh" [hideComponents]="config.parents" [error]="onError" (submit)="onSubmit($event)"></formio>
-->

