<ion-header>

  <ion-toolbar>
    <ion-title>{{navParams.data?.name || translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row [hidden]="!error">
      <ion-col padding>
        <ion-text color="danger">
          {{message | translate}}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">{{'Please Select' | translate }}</ion-label>
          <ion-select [(ngModel)]="selection" cancel-text="Cancel">
            <ion-select-option *ngFor="let option of options" value="option.value">{{option.name | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid no-padding [ngStyle]="{'background': '#eaeaea'}">
    <ion-row>
      <ion-col>
        <ion-button fill="outline" expand="block" color="primary" (click)="modal.dismiss()">{{'Cancel' | translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="solid" expand="block" (click)="startProcess()" color="success">{{'Start' | translate}}</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>