:host {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
ion-content {
  --background: var(--ion-color-light);
  height: calc(100% - 49px);
}
app-grid {
  width: 100%;
}
.split-pane-visible > ion-menu.split-pane-side {
  width: 100px;
  max-width: 0px;
  min-width: 0px;
  --width: 0px;
  transition: 0.3s;
  transition-timing-function: ease;
  ion-header,
  ion-content,
  ion-footer {
    width: 250px;
  }
  &.filter-open {
    max-width: 250px;
  }
}
