<!--  side menu  -->
<div class="menu" contentId="main-outlet">
    <ion-header>
        <ion-toolbar>
            <ion-icon name="egg" class="logo" color="secondary" slot="start"></ion-icon>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-list lines="none">
            <ion-item *ngFor="let item of menu" [routerLink]="[item.path]" (click)="closeMenu()" routerLinkActive="selected">
                <ion-icon [name]="item.icon" size="large" color="light" slot="start"></ion-icon>
                <ion-label text-wrap>
                    <ion-text uppercase>
                        <h3>
                            {{item.title | translate}}
                        </h3>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-list>
        <router-outlet name="sidemenu"></router-outlet>
    </ion-content>
    <ion-footer>
        <ion-item color="primary" (click)="userOptions($event)">
            <ion-avatar slot="start">
                <img src="/assets/img/userplaceholder.png">
            </ion-avatar>
            <ion-label no-margin>
                <h2>{{auth.getUser()?.profile.firstName}} {{auth.getUser()?.profile.lastName}}</h2>
                <p>
                    <span *ngFor="let group of auth.getUser()?.groups">{{group.name | translate}} </span>
                </p>
            </ion-label>
        </ion-item>
    </ion-footer>
</div>

<!-- the main content -->
<div id="main-outlet">
    <router-outlet></router-outlet>
</div>