<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="customer"></ion-back-button>
    </ion-buttons>
    <ion-title>New {{ service.form.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" round end-item slot="icon">
        <ion-badge color="danger" class="notifications" slot="start">11</ion-badge>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary" solid round end-item icon-end class="toolbar-round" routerLink="../">Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-card>
          <ion-card-content>
            <formio [form]="service.form" [submission]="service.resource" [refresh]="service.refresh" [hideComponents]="config.parents"
              [error]="onError" [success]="onSuccess" (submit)="onSubmit($event)"></formio>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
