<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="customer"></ion-back-button>
    </ion-buttons>
    <ion-title>SUPER APP</ion-title>
      <ion-buttons slot="end">
        <ion-button color="secondary" solid round end-item icon-end class="toolbar-round" routerLink="/auth/login">Login
        </ion-button>
        <ion-button color="secondary" solid round end-item icon-end class="toolbar-round" routerLink="/auth/register">Register
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-card>
          <ion-card-content>
           <h1>Welcome To our very important App.</h1>
           <h4>Please Login or Register</h4>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
