<ion-list lines="full">
  <ion-list-header>
    <ion-label color="secondary">
      {{'Filters' | translate}}
    </ion-label>
  </ion-list-header>
  <ion-item (click)="presentFilter()">
    <ion-label text-wrap>
      <ion-text>
        <h3>
          {{"Add Filter" | translate}}
        </h3>
      </ion-text>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button clear color="medium" slot="icon-only">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item *ngFor="let filter of filters" [ngStyle]="{'opacity': filter.count == 0 ? '0.5':''}" 
  [routerLink]="['/tasks',{outlets:{primary:[filter.id],sidemenu:['filter',filter.id]}}]"
    (click)="closeMenu()" routerLinkActive="selected">
    <ion-label text-wrap>
      <ion-text>
        <h3 appOnCreate (OnCreateDirective)="getFilterCount(filter)">
          {{filter.name | translate}}
          <ion-badge color="secondary">{{filter.count}}</ion-badge>
        </h3>
      </ion-text>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="filterOptions($event, filter.id)" clear color="medium" slot="icon-only">
        <ion-icon name="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item [routerLink]="['/tasks',{outlets:{primary:['history'],sidemenu:['filter','history']}}]" routerLinkActive="selected">
    <ion-label text-wrap>
      <ion-text>
        <h3>
          {{'Completed Tasks' | translate}}
        </h3>
      </ion-text>

    </ion-label>
  </ion-item>
</ion-list>